.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  height: 3rem;

  padding-inline: 2rem;

  border-radius: 5px;

  box-shadow: 0px 2px 9px 0px hsla(0, 0%, 0%, 0.05);

  background-color: var(--bg-elements-color);

  transition: background-color 0.3s ease;
}

.input {
  border: 0;
  width: 100%;
  background-color: transparent;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--text-color);

  transition: color 0.3s ease;
}

.input::placeholder {
  color: var(--placeholder-input-color);

  transition: color 0.3s ease;
}
