@use "../abstracts/" as *;

body {
  background: var(--bg-page-color);
}

:is(a, button, input, textarea, select, details, summary, div) {
  &:focus-visible {
    outline: var(--outline-color) dotted 0.19rem;
    outline-offset: 0.19rem;
  }
}
