.header {
  background: var(--bg-elements-color);

  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 800;

  box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.05);
}

.container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(90%, 80rem);
  margin-inline: auto;
}
