.theme_switcher {
  cursor: pointer;

  border: 0;
  background-color: transparent;
  display: flex;
  align-items: end;
  gap: 0.5rem;

  color: var(--text-color);

  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.2;

  transition: color 0.3s ease;
}
