.country_item {
  width: 16.5rem;
  height: 21rem;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px hsla(0, 0%, 0%, 0.05);
  background-color: var(--bg-elements-color);
  overflow: hidden;
  cursor: pointer;
}
